<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <link rel="stylesheet" type="text/css" href="style.css">

    <title>Chitty</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{style.css}">
    <link rel="shortcut icon" href="chittyicon.ico"/>
</head>

<body>

<div id="myModal" class="modal">


    <div style="margin:auto; width: fit-content; margin-top: 300px;">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="form">
                <form class="register-form hidden" th:action="@{adduser}" method="post">
                    <input type="text" name="username" placeholder="Username"/>
                    <input type="password" name="password" id="pass" placeholder="Password"/>
                    <input type="text" name="email" placeholder="Email"/>
                    <button type="submit">create</button>
                    <p class="message">Already Registered? <a id="login-button" href="#">Login</a>
                    </p>
                </form>

                <form th:action="@{login}" class="login-form" method="post">
                    <input type="text" name="username" placeholder="Username"/>
                    <input type="password" name="password" placeholder="Password"/>
                    <button type="submit">login</button>
                    <p class="message">Not Registered? <a id="register-button" href="#">Register</a>
                    </p>
                </form>
            </div>
        </div>
    </div>

</div>
<div class="text-center row" style="width: 100%;">
    <div class="col-md-4 head">
        <img src="chittywhitelogo.svg" style="width: 300px; height: 200px">
    </div>
    <div class="col-md-4 head">
        <div id="error"  th:class="${errorClass}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <p th:text="${errorText}"></p>
        </div>
    </div>
    <div class="col-md-4 head" id="">
        <div id="dropmenu" th:class="${hidemenu}">
            <div class="btn-group btn-group-justified">
                <a class="btn btn-menu" style="width: 33%">Account</a>
                <a class="btn btn-menu" style="width: 33%">Rooms</a>
                <a id = "signout" class="btn btn-menu" style="width: 33%" href="/logout">Sign out</a>
            </div>
        </div>
        <div id="login" th:class="${btnclass}">
            <p id="loginLabel" th:text="${logintext}">Sign in </p><img th:src="@{user.svg}" style="width: 40px; height: 40px; float: right;">
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 th:text ="${roomtitle}"></h1>
            <div id="box1">
                <span th:each="message :${chatmessages}" style="display: block;" th:title="${message.getDate()}"
                      th:text="${'<' + message.getUsername() + '>:  ' + message.getMessage()} ">
                </span>
                </tr>
            </div>
            <form id="text" th:action="@{sendmessage}" method="post" style="width: 100%">
                <input type="hidden" th:value="${currentRoom}" name="room">
                <input type="text" name="message" style="width: 85%; height: 30px">
                <button type="submit" id="send" class="btn btn-primary"
                        style="float: right; padding-right: 20px;padding-left: 20px">Send
                </button>
            </form>
        </div>

        <div class="col-md-4">
            <button id="createroom-button" class="btn btn-default">Create Room</button>


            <form class="createroom-form hidden" id="addroom" th:action="@{addRoom}" method="post" style="display:inline-flex">
                <div class = "formroom">
                <input id="roomname" type="text" name="name" placeholder="Room name"/>
                <input id="description" type="text" name="description" placeholder="Description"/>

                </div>
                <button type="submit" id="room" class="btn btn-primary">Done</button>
            </form>

            <button id="adduser-button" class="btn btn-default">Add user</button>

            <form class="addUser-form hidden" id = "addkey" th:action="@{addKeys}" method="post" >
                <input id="name" type="text" name="name" style="width: 85%; height: 30px" placeholder="Username"/>
                <button type="submit" id="addkeys" class="btn btn-primary"
                        style="float: right; padding-right: 20px;padding-left: 20px">Done</button>
            </form>

            <h3 style="color:#ffffff">Rooms</h3>
            <div style="height: auto; width: 100%"></div>

            <a class="btn btn-default" style="width: 100%" th:href="@{/(roomid=${room.getId()})}" th:each="room :${rooms}" th:text="${room.getName()}"></a>

        </div>
    </div>
</div>
<script th:src="@{script.js}"></script>
</body>
</html>