<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <link rel="stylesheet" type="text/css" href="style.css">

    <title>Chitty</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{style.css}">
</head>

<body>

<div id="myModal" class="modal">


    <div style="margin:auto; width: fit-content; margin-top: 300px;">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="form">
                <form class="register-form hidden" th:action="@{adduser}" method="post">
                    <input type="text" name="username" placeholder="Username"/>
                    <input type="password" name="password" id="pass" placeholder="Password"/>
                    <input type="text" name="email" placeholder="Email"/>
                    <button type="submit">create</button>
                    <p class="message">Already Registered? <a id="login-button" href="#">Login</a>
                    </p>
                </form>

                <form th:action="@{login}" class="login-form" method="post">
                    <input type="text" name="username" placeholder="Username"/>
                    <input type="password" name="password" placeholder="Password"/>
                    <button type="submit">login</button>
                    <p class="message">Not Registered? <a id="register-button" href="#">Register</a>
                    </p>
                </form>
            </div>
        </div>
    </div>

</div>
<div class="text-center row" style="width: 100%;">
    <div class="col-md-4 head"></div>
    <div class="col-md-4 head">
        <h1>Chitty</h1>
        <p>chat and enjoy</p>
    </div>
    <div class="col-md-4 head">
        <div style="float:right; margin: 20px;width: fit-content" id="login">
            <p id="loginLabel">Sign in </p><img th:src="@{user.svg}" style="width: 40px; height: 40px">
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div id="box1">
                <p th:each="message :${chatmessages}"
                   th:text="${message.getDate() + '  <' + message.getUsername()+ '>:  ' + message.getMessage()} ">
                </p>
                </tr>
            </div>
            <form id="text" th:action="@{sendmessage}" method="post" style="width: 100%">
                <input type="text" name="message" style="width: 85%; height: 30px">
                <button type="submit" id="send" class="btn btn-primary"
                        style="float: right; padding-right: 20px;padding-left: 20px">Send
                </button>
            </form>
        </div>

        <div class="col-md-4">
            <button id="room" class="btn btn-default">Create room</button>
            <button id="addUser" class="btn btn-default">Add user</button>
            <h3>Column 1</h3>
        </div>
    </div>
</div>
<script th:src="@{script.js}"></script>
</body>
</html>