<html xmlns:th="http://www.w3.org/1999/xhtml">

    <head>

        <link rel="stylesheet" type="text/css" href="style.css">

        <title>Chatty</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" th:href="@{style.css}">
    </head>

    <body>


    <div class="jumbotron text-center">
        <h1>Chatty</h1>
        <p>chat and enjoy</p>
        <button id="login">Login</button>
    </div>

    <div class="container">
        <div class="row">


            <div class="col-md-8">
                <div id="box1">
                    <p th:each="message :${chatmessages}"
                       th:text="${message.getDate() + '  <' + message.getUsername()+ '>:  ' + message.getMessage()} ">
                    </p>
                    </tr>
                </div>
                <form id="text" th:action="@{sendmessage}" method="post" style="display:inline-flex">
                    <input type="text" name="message">
                    <button type="submit" id="send">Send</button>
                </form>
            </div>

            <div class="col-md-4">
                <button id="room">Create room</button>
                <h3>Column 1</h3>


            </div>
        </div>
    </div>

    <script></script>

    </body>
</html>